@font-face {
  font-family: ubuntu;
  src: url('../assets/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: voltaire;
  src: url('../assets/Voltaire-Regular.ttf');
}

@font-face {
  font-family: open-sans;
  src: url('../assets/OpenSans-VariableFont_wdth,wght.ttf');
}

@font-face {
  font-family: amatic-sc;
  src: url('../assets/AmaticSC-Regular.ttf');
}

$color-nav-link-default: #ffffff;
$color-nav-link-active: #b47f3d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.header {
  background-color: #1b1819;
  display: flex;
  align-items: center;

  &__logo {
    display: inline-block;
    padding: 0 5rem;
  }
}

.nav {
  display: inline-block;
  margin-left: 25rem;
  // height: 12rem;
}

.btn {
  &__nav {
    font-family: ubuntu, sans-serif;
    font-size: 1.3rem;
    padding: 0 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;

    background: none !important;
    border: none;
    // padding: 0 !important;
    color: $color-nav-link-default;
    // text-decoration: underline;
    cursor: pointer;

    &.active {
      color: $color-nav-link-active;
    }

    &:hover {
      color: $color-nav-link-active;
    }

    &--active {
      color: $color-nav-link-active;
    }
  }
}
