@font-face {
  font-family: ubuntu;
  src: url('../assets/Ubuntu-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.nav {
  background-color: #1b1819;
}

.btn {
  &__nav {
    font-family: ubuntu;
  }
}
