@font-face {
  font-family: ubuntu;
  src: url('../assets/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: voltaire;
  src: url('../assets/Voltaire-Regular.ttf');
}

@font-face {
  font-family: open-sans;
  src: url('../assets/OpenSans-VariableFont_wdth,wght.ttf');
}

@font-face {
  font-family: amatic-sc;
  src: url('../assets/AmaticSC-Regular.ttf');
}

// $color-nav-link-default: #ffffff;
$color-nav-link-active: #b47f3d;
$color-background-color-main: #1b1819;
$color-text-default: #ffffff;
$color-background-color-alt: #271a03;
$color-background-color-black: #000000;
$color-text-combo-name: #e6ac00;
$color-text-map-link: #f49339;
$color-text-category-heading: #bd7102;

$icon-facebook-white: url('../assets/facebook-icon-white.png');
$icon-facebook-gold: url('../assets/facebook-icon-gold.png');
$icon-instagram-white: url('../assets/instagram-icon-white.png');
$icon-instagram-gold: url('../assets/instagram-icon-gold.png');

@mixin define-grid-position($column-start, $column-end, $row-start, $row-end) {
  grid-column-start: $column-start;
  grid-column-end: $column-end;
  grid-row-start: $row-start;
  grid-row-end: $row-end;
}

@mixin set-background-img($bg-img) {
  background: $bg-img;
  background-size: contain;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

#root {
  width: 100vw;
}

.header {
  background-color: $color-background-color-main;
  display: flex;
  align-items: center;

  &__logo {
    display: inline-block;
    padding: 0 5rem;
  }
}

.nav {
  display: inline-block;
  margin-left: 25rem;
  // height: 12rem;
}

.btn {
  &__nav {
    font-family: ubuntu, sans-serif;
    font-size: 1.3rem;
    padding: 0 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;

    background: none !important;
    border: none;
    // padding: 0 !important;
    color: $color-text-default;
    // text-decoration: underline;
    cursor: pointer;

    &.active {
      color: $color-nav-link-active;
    }

    &:hover {
      color: $color-nav-link-active;
    }

    &--active {
      color: $color-nav-link-active;
    }
  }
}

.home {
  &-header {
    height: 56.1rem;
    width: inherit;

    &__img {
      height: 100%;
      width: 100%;
    }
  }

  &-menu-highlights {
    padding: 8rem 0rem 5rem;
    background-color: $color-background-color-main;
    color: $color-text-default;

    &__section-heading {
      font-family: voltaire, sans-serif;
      font-size: 6.2rem;
      text-align: center;
      letter-spacing: 2px;
      font-weight: 500;
      line-height: 7rem;
    }

    &__item-container {
      margin: 6rem 13rem;
      padding: 0rem 1.5rem;
      display: flex;
      justify-content: space-between;
    }
  }

  &-combo-of-day {
    background-color: $color-background-color-alt;
    background-image: url(../assets/background-transparent.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
    padding: 8rem 0 5rem;

    &__section {
      &-heading {
        font-family: voltaire, sans-serif;
        font-size: 6.2rem;
        text-align: center;
        letter-spacing: 2px;
        font-weight: 500;
        line-height: 7rem;
        color: $color-text-default;

        &-container {
          display: flex;
          align-items: center;
        }
      }

      &-subheading {
        text-align: center;
        font-family: amatic-sc;
        text-transform: capitalize;
        color: $color-text-default;
        font-size: 2.8rem;
        letter-spacing: 2px;
        font-weight: 400;
        line-height: 3.6rem;
      }
    }

    &__combo {
      &-container {
        margin: 6rem 13rem;
        padding: 0rem 1.5rem;
        display: flex;
        justify-content: space-between;
      }

      &-section {
        min-width: 40%;
      }
    }
  }
}

.menu {
  &__icon {
    &-heading-box {
      display: flex;
      align-items: center;
    }
    &-container {
      display: inline-block;
      margin-right: 1rem;
    }
  }

  &__heading {
    &--highlight {
      font-size: 2.8rem;
      font-family: open-sans;
      display: inline-block;
      text-transform: uppercase;
      vertical-align: baseline;
      letter-spacing: 2px;
      line-height: 1.1;
      font-weight: 600;
    }

    &-container {
      display: inline-block;
      min-height: 4rem;
    }
  }

  &__sub-head {
    font-family: open-sans;
    font-size: 1.68rem;
    font-weight: 100;
    line-height: 1.1;

    &-container {
      margin: 0.3rem 0 2rem;
    }
  }

  &-item {
    display: grid;
    grid-template-columns: 7rem auto;
    grid-template-rows: auto auto;
    color: $color-text-default;

    &--full-menu {
      display: grid;
      grid-template-columns: 7rem auto;
      grid-template-rows: auto auto;
      color: $color-text-default;
      margin-bottom: 2rem;
    }

    &__num {
      font-family: voltaire;
      font-size: 2rem;
      font-weight: 600;

      &--full-menu {
        font-family: voltaire;
        font-size: 3rem;
        font-weight: 300;
        line-height: 2.4rem;
      }

      &-container {
        @include define-grid-position(1, 2, 1, -1);
        text-align: center;
      }
    }

    &__info-container {
      @include define-grid-position(2, -1, 1, 2);
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    &__name {
      font-family: voltaire;
      font-size: 2rem;
      line-height: 2rem;
      font-weight: 400;

      &--full-menu {
        font-family: voltaire;
        font-size: 2.2rem;
        font-weight: 300;
        line-height: 2.4rem;
      }
    }

    &__price {
      font-family: voltaire;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2rem;

      &--full-menu {
        font-family: voltaire;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 2.4rem;
      }
    }

    &__text {
      @include define-grid-position(2, -1, 2, -1);
      border-top-width: 1px;
      border-top-color: $color-text-default;
      border-top-style: dotted;
      font-family: open-sans;
      font-weight: 300;
      line-height: 2.4rem;
      font-size: 1.4rem;

      &--full-menu {
        @include define-grid-position(2, -1, 2, -1);
        border-top-width: 1px;
        border-top-color: $color-text-default;
        border-top-style: dotted;
        font-family: open-sans;
        font-size: 1.5rem;
        font-weight: 100;
        line-height: 2.4rem;
      }
    }
  }
}

.highlight-item {
  max-width: 50%;
}

.heading-decoration {
  border-top-width: 1px;
  border-top-color: $color-text-default;
  border-top-style: dashed;
  flex-grow: 1;
  margin: 0 3rem;
}

.section-divider {
  display: block;
  border-top-width: 3px;
  border-top-style: dashed;
  border-top-color: $color-text-default;
  margin: 8rem 0 0;
}

.combo-item {
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  &__info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__name {
    font-family: voltaire;
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: $color-text-combo-name;
  }

  &__price {
    font-family: voltaire;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
  }

  &__desc {
    &-container {
      border-top-width: 1px;
      border-top-color: $color-text-default;
      border-top-style: dotted;
    }
    font-family: open-sans;
    font-weight: 300;
    line-height: 2.4rem;
    font-size: 1.4rem;
  }

  &__weight {
    display: block;
    font-family: ubuntu;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.4rem;
    color: $color-text-default;
    text-align: right;
    margin-bottom: 3rem;
  }

  &__extra-info-container {
    font-family: open-sans;
    color: $color-text-default;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-transform: uppercase;
  }
}

.footer {
  min-height: 15.6rem;
  background-color: $color-background-color-main;

  &__social-media-link {
    &-container {
      padding: 5rem 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  &__location {
    background-color: $color-background-color-black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;

    &-info-container {
      color: $color-text-default;
      text-align: center;
    }
  }
}

.social-media-link {
  padding: 0 4rem;
  color: #b99400;
}

.social-media-icon {
  display: inline-block;
  width: 4.6rem;
  height: 4.6rem;
  transform: rotate(-25deg);

  &__facebook {
    @include set-background-img($icon-facebook-white);

    &:hover {
      @include set-background-img($icon-facebook-gold);
    }
  }

  &__instagram {
    @include set-background-img($icon-instagram-white);

    &:hover {
      @include set-background-img($icon-instagram-gold);
    }
  }

  &:hover {
    transform: rotate(-25deg) scale(1.2);
  }
}

.location-info {
  &__store-name {
    &--footer {
      font-family: amatic-sc;
      font-size: 2.8rem;
      line-height: 2.8rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }

    &--location {
      font-family: voltaire;
      font-size: 6.2rem;
      font-weight: 500;
      letter-spacing: 2px;
      line-height: 7rem;
      color: $color-text-default;
    }
  }

  &__phone-number {
    &--footer {
      font-family: ubuntu;
      font-size: 2.8rem;
      line-height: 2.4rem;
      font-weight: 300;
      margin-bottom: 1rem;
    }

    &--location {
      font-family: ubuntu;
      font-size: 4.2rem;
      font-weight: 700;
      line-height: 2.6rem;
      margin-top: 6rem;
    }
  }

  &__address {
    &--footer {
      font-family: amatic-sc;
      font-size: 2.6rem;
      line-height: 2.4rem;
      font-weight: 300;
      margin-bottom: 1rem;

      & > span {
        display: block;
      }
    }

    &--location {
      font-family: ubuntu;
      font-size: 2.6rem;
      font-weight: 300;
      line-height: 2.6rem;

      & > span {
        display: block;
      }
    }
  }

  &__map-link {
    font-family: amatic-sc;
    font-size: 3.8rem;
    line-height: 3.8rem;
    font-weight: 400;
    color: $color-text-map-link;
    text-decoration: none;

    &:hover {
      color: $color-text-default;
    }

    &-marker {
      width: 3.9rem;
      height: 3.9rem;
    }

    &-container {
      margin: 2rem 0 1rem;
    }
  }
}

.location {
  &-main {
    background-color: $color-background-color-alt;
    background-image: url(../assets/background-transparent.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
    color: $color-text-default;
    padding: 5rem 0 3rem;

    &__section-heading-container {
      display: flex;
      align-items: center;
      margin-bottom: 5rem;
    }

    &__location-info {
      &-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-subsection {
        margin-right: 3rem;
        text-align: right;
      }
    }
  }
}

.full-menu {
  background-color: $color-background-color-main;

  &__section {
    &-heading {
      font-family: voltaire, sans-serif;
      font-size: 6.2rem;
      text-align: center;
      letter-spacing: 2px;
      font-weight: 500;
      line-height: 7rem;
      color: $color-text-default;
    }

    &-subheading {
      text-align: center;
      font-family: amatic-sc;
      text-transform: capitalize;
      color: $color-text-default;
      font-size: 2.8rem;
      letter-spacing: 2px;
      font-weight: 400;
      line-height: 3.6rem;
    }
  }
}

.full-menu {
  &__menu {
    padding: 0 13rem;
    margin-top: 10rem;
  }
  &__category {
    color: $color-text-default;
  }

  &__subsection {
    width: 50%;
  }
}

.category {
  &__icon {
    &-heading-box {
      display: flex;
      align-items: center;
    }
    &-container {
      display: inline-block;
      margin-right: 1rem;
    }
  }

  &__heading {
    &--highlight {
      font-size: 2.8rem;
      font-family: open-sans;
      display: inline-block;
      text-transform: uppercase;
      vertical-align: baseline;
      letter-spacing: 2px;
      line-height: 1.1;
      font-weight: 600;
    }

    &--full-menu {
      color: $color-text-category-heading;
      font-size: 3.5rem;
      font-family: voltaire;
      display: inline-block;
      text-transform: uppercase;
      vertical-align: baseline;
      letter-spacing: 2px;
      line-height: 2.4rem;
      font-weight: 300;
    }

    &-container {
      display: inline-block;
      min-height: 4rem;
    }
  }

  &__sub-head {
    font-family: open-sans;
    font-size: 1.68rem;
    font-weight: 100;
    line-height: 2.4rem;

    &--full-menu {
      font-family: open-sans;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 2.4rem;
    }

    &-container {
      margin: 0.3rem 0 2rem;
    }
  }
}

// .social-media-icon__facebook {
//   background: url('../assets/facebook-icon-white.png');
//   background-size: contain;
//   height: 4.6rem;
//   width: 4.6rem;
// }

// img {
//   width: 4.2rem;
//   height: 2.1rem;
// }
